<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>angular-paths examples</title>

    <script src="lib/angular.js"></script>
    <script src="lib/paths.js"></script>
    <script src="lib/angular-get-template.js"></script>

    <script src="lib/angular-paths.js"></script>

    <script src="app.js"></script>

    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="angularPathsExample">

    <div ng-controller="PieCtrl">
      <div class="graph" paths-pie="pie">
        <svg ng-if="!!viewport" ng-attr-width="{{viewport.width}}" ng-attr-height="{{viewport.height}}" ng-attr-transform="translate({{viewport.width / 2}}, {{viewport.height / 2}})">
          <g ng-attr-transform="translate({{viewport.paddingLeft}}, {{viewport.paddingTop}})">
            <path ng-repeat="curve in curves" ng-attr-d="{{curve._sector}}" stroke="white"/>
          </g>
        </svg>
      </div>
    </div>
    <div ng-controller="BarCtrl">
      <div class="graph" paths-bar="bar">
        <svg ng-attr-width="{{viewport.width}}" ng-attr-height="{{viewport.height}}">
          <path ng-repeat="curve in curves" ng-attr-d="{{curve._line}}" stroke="white"/>
        </svg>
      </div>
    </div>
    <div ng-controller="StockCtrl">
      <div class="graph" paths-stock="stock" paths-template="templates/line.html"></div>
    </div>
    <div ng-controller="SmoothLineCtrl">
      <div class="graph" paths-smooth-line="smoothLine" paths-template="templates/line.html"></div>
    </div>
    <div ng-controller="RadarCtrl">
      <div class="graph" paths-radar="radar">
        <select ng-model="selectedIndex" ng-init="selectedIndex = 0" ng-options="curve.index as 'Pokemon ' + curve.index for curve in curves" style="position: absolute">
          <option value="">Select pokemon...</option>
        </select>

        <svg ng-if="!!viewport && selectedIndex >= 0 && curves.length > 0" ng-attr-width="{{viewport.width}}" ng-attr-height="{{viewport.height}}">
          <g ng-attr-transform="translate({{viewport.paddingLeft}}, {{viewport.paddingTop}})">
            <path ng-repeat="ring in rings" ng-attr-d="{{ring._polygon}}" fill="none" stroke="grey"/>
            <path ng-attr-d="{{curves[selectedIndex]._polygon}}"/>
          </g>
        </svg>
      </div>
    </div>
  </body>
</html>
