<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>angular-paths examples</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/paths.js"></script>
    <script src="lib/angular-get-template.js"></script>

    <script src="lib/angular-paths.js"></script>

    <script src="app.js"></script>

    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="angularPathsExample">

    <div ng-controller="PieCtrl">
        <div class="graph paths-pie" paths-pie="pie">
            <svg ng-if="!!viewport" ng-attr-width="{{viewport.width}}" ng-attr-height="{{viewport.height}}" ng-attr-transform="translate({{viewport.width / 2}}, {{viewport.height / 2}})">
              <path ng-repeat="curve in curves" ng-attr-d="{{curve.sector.path.print()}}" fill="black" stroke="white"/>
            </svg>
        </div>
    </div>
    <div ng-controller="BarCtrl" ng-init="foo = 'bar'">
        <div class="graph paths-bar" paths-bar="bar">
            <svg ng-attr-width="{{viewport.width}}" ng-attr-height="{{viewport.height}}">
              <path ng-repeat="curve in curves" ng-attr-d="{{curve.line.path.print()}}"/>
            </svg>
        </div>
    </div>
    <!-- <div ng-controller="StockCtrl">
        <div class="graph paths-stock" paths-stock="stock" paths-template="templates/line.html"></div>
    </div>
    <div ng-controller="SmoothLineCtrl">
        <div class="graph paths-smooth-line" paths-smooth-line="smoothLine" paths-template="templates/line.html"></div>
    </div> -->
  </body>
</html>
